<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style type="text/css">
      @import url("observable:styles/index.css");
      * {
        margin-top:0 !important;
      }
      html {
        background-color: white;
        margin:0;
        padding::2vw; /* change this to 0 to override default */
        border:0;
      }
      body {
        max-width: none;
        margin:0;
        padding:0;
        border:0;
      }
    </style>
  </head>
  <body>
    <main></main>
  </body>
</html>
